$contentBackground: #ffffff;
$headerBackground: url(../img/m-h-day.jpg);
$mainFont: 'Source Sans Pro',
sans-serif;
$secondFont: Hind,
sans-serif;
$textMainColor: #21232e;
$textLight: #ffffff;
$buttonBackground: #699900;
$textHighlited:#14a0c7;
$cardsBackground: #21232e;
$gradient: linear-gradient(to right, #699900, #5f5dcf);
$footerBackground: #21232e;