$contentBackground: #21232e;
$headerBackground: url(../img/m-h-night.jpg);
$mainFont: 'Source Sans Pro',
sans-serif;
$secondFont: Fresca,
sans-serif;
$textMainColor: #ffffff;
$textLight: #ffffff;
$buttonBackground: #e3ac00;
$textHighlited: #ff4e33;
$cardsBackground: #3b3f50;
$gradient: linear-gradient(to right, #e3ac00, #97334e);
$footerBackground: #3b3f50;